Multiple Linear Regression. The goal is still to fit a line that best shows the relationship between an independent variable and the
target. The difference is that in Multiple Linear Regression, we have to deal with at least 2 features or independent variables.

In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State    Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 4].values

In [4]:
# Encoding categorical data
# we transform categorical variables into numeric ones (dummy variables)

from sklearn.preprocessing import LabelEncoder, OneHotEncoder 
from sklearn.compose import ColumnTransformer

In [6]:
#onehotencoder = OneHotEncoder(categories='auto') this one is not working anymore
st = ColumnTransformer([("State", OneHotEncoder(), [3])], remainder ='passthrough')
X = st.fit_transform(X)
labelencoder = LabelEncoder()
X[:,3] = labelencoder.fit_transform(X[:,3])
X = X[:, 1:]# Avoiding the Dummy Variable Trap

In [8]:
X

array([[0.0, 1.0, 48, 136897.8, 471784.1],
       [0.0, 0.0, 47, 151377.59, 443898.53],
       [1.0, 0.0, 46, 101145.55, 407934.54],
       [0.0, 1.0, 45, 118671.85, 383199.62],
       [1.0, 0.0, 44, 91391.77, 366168.42],
       [0.0, 1.0, 42, 99814.71, 362861.36],
       [0.0, 0.0, 43, 147198.87, 127716.82],
       [1.0, 0.0, 41, 145530.06, 323876.68],
       [0.0, 1.0, 39, 148718.95, 311613.29],
       [0.0, 0.0, 40, 108679.17, 304981.62],
       [1.0, 0.0, 36, 110594.11, 229160.95],
       [0.0, 0.0, 35, 91790.61, 249744.55],
       [1.0, 0.0, 33, 127320.38, 249839.44],
       [0.0, 0.0, 32, 135495.07, 252664.93],
       [1.0, 0.0, 38, 156547.42, 256512.92],
       [0.0, 1.0, 37, 122616.84, 261776.23],
       [0.0, 0.0, 28, 121597.55, 264346.06],
       [0.0, 1.0, 34, 145077.58, 282574.31],
       [1.0, 0.0, 31, 114175.79, 294919.57],
       [0.0, 1.0, 30, 153514.11, 0.0],
       [0.0, 0.0, 26, 113867.3, 298664.47],
       [0.0, 1.0, 29, 153773.43, 299737.29],
       [1.0, 0.0, 24, 122782.75, 303319.26],
       [1.0, 0.0, 22, 105751.03, 304768.73],
       [0.0, 1.0, 27, 99281.34, 140574.81],
       [0.0, 0.0, 19, 139553.16, 137962.62],
       [1.0, 0.0, 25, 144135.98, 134050.07],
       [0.0, 1.0, 23, 127864.55, 353183.81],
       [1.0, 0.0, 21, 182645.56, 118148.2],
       [0.0, 1.0, 20, 153032.06, 107138.38],
       [1.0, 0.0, 17, 115641.28, 91131.24],
       [0.0, 1.0, 16, 152701.92, 88218.23],
       [0.0, 0.0, 18, 129219.61, 46085.25],
       [1.0, 0.0, 15, 103057.49, 214634.81],
       [0.0, 0.0, 14, 157693.92, 210797.67],
       [0.0, 1.0, 13, 85047.44, 205517.64],
       [1.0, 0.0, 9, 127056.21, 201126.82],
       [0.0, 0.0, 12, 51283.14, 197029.42],
       [0.0, 1.0, 5, 65947.93, 185265.1],
       [0.0, 0.0, 11, 82982.09, 174999.3],
       [0.0, 0.0, 10, 118546.05, 172795.67],
       [1.0, 0.0, 8, 84710.77, 164470.71],
       [0.0, 0.0, 7, 96189.63, 148001.11],
       [0.0, 1.0, 4, 127382.3, 35534.17],
       [0.0, 0.0, 6, 154806.14, 28334.72],
       [0.0, 1.0, 2, 124153.04, 1903.93],
       [1.0, 0.0, 3, 115816.21, 297114.46],
       [0.0, 0.0, 0, 135426.92, 0.0],
       [0.0, 1.0, 1, 51743.15, 0.0],
       [0.0, 0.0, 0, 116983.8, 45173.06]], dtype=object)

In [9]:
# dividing the dataset into Training Set and Test Set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [11]:
# Next step is we can then create a regressor and “fit the line” (and use that line on Test Set)
from sklearn.linear_model import LinearRegression
regressor = LinearRegression() 
regressor.fit(X_train, y_train)

LinearRegression()

In [12]:
# Predicting the Test set results
y_pred = regressor.predict(X_test) 
y_pred

array([100815.65143643, 141065.32323456, 140351.4842569 ,  69602.81317407,
       171849.80561966, 115796.48839866,  64138.93341569,  88177.53284686,
       114766.47156368, 165080.49074038])