### This is quick review for python as per the book tittled "Data Analysis From Scratch with python"

Hereâ€™s a quick Python review you can use as reference

#### Mathematic operations

In [2]:
print(5*3)

15

In [4]:
print(7-2)

5

In [5]:
print(20/5)

4.0

In [7]:
# % give the remaining of the division 
print(9%2)

1

In [1]:
# ** give the power of, 2**3 means 2 to the power of 3
print(2**3)

8

#### Assign & use of variables

In [1]:
myname = 'Ahmed'
job = 'Programer'
x = 5
y = 8
age = 56

In [3]:
print(myname)

Ahmed

In [4]:
print(x*y)

40

In [7]:
# by adding int so the value can by used in calculations 
print(int(age))

56

In [8]:
print(age)

56

In [6]:
print('Hi I am ' + myname + ' I am ' + str(age) + ' years old and now I am working as ' + job)
# we add str befor age as + ((concatenation) can only accept strings not int

Hi I am Ahmed I am 56 years old and now I am working as Programer

#### Comparison operations

In [1]:
8 == 8

True

In [2]:
8 >=4

True

In [3]:
8 < 4

False

In [4]:
8 != 6

True

In [5]:
8 != 8

False

In [6]:
'ahmed' == 'ahmed'

True

In [1]:
'Ahmed' == 'ahmed'

False

In [1]:
8 == 8 and 8 > 4

True

In [2]:
8 >= 2 or 8 < 10

True

In [3]:
7 > 5 or 7 < 5

True

In [4]:
7 > 5 and 7 < 5

False

In [5]:
'hello' == 'hello' or 'cat' == 'dog'

True

#### Loop using IF and WHILE

In [5]:
print('Please enter your email: ')
myEmail = input()
print('Please enter your Passwor: ')
myPassword = input()
if myPassword == '1234':
    print('Congratulation you are logged in!')
else:
    print('Sorry your Password seems not correc!')

Please enter your email:
Hahssh
Please enter your Passwor:
 Snsn
Sorry your Password seems not correc!

In [2]:
a = 0
while a < 5: 
    print('Ahmed Sobhy')
    a = a + 1

Ahmed Sobhy
Ahmed Sobhy
Ahmed Sobhy
Ahmed Sobhy
Ahmed Sobhy

In [2]:
name = ''
while name != 'Ahmed':
    print('Please enter your first name: ')
    name = input()
    print('Hello ' + name)

Please enter your first name:
Hyha
Hello Hyha
Please enter your first name:
Ahmed
Hello Ahmed

#### For Loop

In [9]:
for i in range(10):
    print(i**2) #calculating the power of 2 from 0 to 9

0
1
4
9
16
25
36
49
64
81

In [12]:
#Adding numbers from 0 to 100
total = 0
for i in range(101):
    total = total + i
print(total)

5050

In [19]:
# Positive and negative reviews.

all_reviews = [3,4,6,8,1,0,3,5,6,7,8,9,2,3,1,9,0,4,5]
passed = []
failed = []

for i in all_reviews:
    if i>= 5:
        print('Pass')
        passed.append(i)
    else:
        print('Fail')
        failed.append(i)
        
print(passed)
print(failed)
pass_percent = round(len(passed)/len(all_reviews)*100, 2) # use rounding for the calculation in 2 digits
#pass_percent = len(passed)/len(all_reviews)*100
print(f'Pass Percent is {pass_percent}%')

Fail
Fail
Pass
Pass
Fail
Fail
Fail
Pass
Pass
Pass
Pass
Pass
Fail
Fail
Fail
Pass
Fail
Fail
Pass
[6, 8, 5, 6, 7, 8, 9, 9, 5]
[3, 4, 1, 0, 3, 2, 3, 1, 0, 4]
Pass Percent is 47.37%

#### Functions

In [22]:
def hello():
    print('Helllllllo')

hello() #calling the function

Helllllllo

In [23]:
def add(a,b): # we have to give value for a and b
    print(a+b)
    
add(4,6)
add(1616,2999)

10
4615

In [25]:
#Check if a number is odd or even.

def even_check(num):
    if num %2 == 0: # for even number the remaining of division by 2 should be 0
        print('Number is even')
    else:
        print('Number is odd!')
        
even_check(15)
even_check(20)

Number is odd!
Number is even

#### Lists

In [29]:
my_list = ['eggs', 'ham', 'bacon'] # list with strings 
colours = ['red', 'green', 'blue']
cousin_ages = [33, 35, 42] #list with integers 
mixed_list = [3.14, 'circle', 'eggs', 500] #list with integers and strings

In [32]:
my_list[0]

'eggs'

In [33]:
colours[2]

'blue'

In [34]:
#Slicing the list 
list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list[0:]) # print from the first record to the end

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
print(list[:3])

[0, 1, 2]

In [36]:
print(list[2:5])

[2, 3, 4]

In [37]:
#Length of list
print(len(list))

10

In [38]:
#Assigning new values to list items 
colours = ['red', 'green', 'blue'] 
colours[0] = 'yellow'
print(colours)

['yellow', 'green', 'blue']

In [39]:
#Concatenation and appending 
colours = ['red', 'green', 'blue'] 
colours.append('pink')
print(colours)

['red', 'green', 'blue', 'pink']

In [40]:
fave_series = ['GOT', 'TWD', 'WW'] 
fave_movies = ['HP', 'LOTR', 'SW'] 
fave_all = fave_series + fave_movies 
print(fave_all)

['GOT', 'TWD', 'WW', 'HP', 'LOTR', 'SW']